<h1>カリキュラム編集</h1>
<hr>
<%= simple_form_for @curriculum ,:url => curriculum_path(@curriculum) do |f| %>
  <div class="text">
    <p><%= f.input :course %></p>
    <p><%= f.input :hour %></p>
    <p><%= f.input :price %></p>
  </div>
  <hr>
  <div class="btn-wrapper">
    <p><%= f.button :submit, "送信", :class=>"btn" %></p>
  </div>
<% end %>
