<h1>カリキュラム登録</h1>
<hr>
<%= simple_form_for @curriculum ,:url => {:action => :create} do |f| %>
  <div class="text">
    <p><%= f.input :course %></p>
    <p><%= f.input :hour %></p>
    <p><%= f.input :price %></p>
  </div>
  <hr>
  <div class="btn-wrapper">
    <p><%= f.button :submit, "送信", :class=>"btn" %></p>
  </div>
<% end %>
