<h1>カリキュラム一覧</h1>
<hr>
<% @curriculums.each do |curriculum| %>
  <p>コース名：<%= curriculum.course %></p>
  <p>学習時間：<%= curriculum.hour %>h</p>
  <p>値段：¥<%= dispPrice(curriculum.price) %></p>
  <p><%= link_to '編集', edit_curriculum_path(curriculum), method: :get %>
  <%= link_to '削除', "/curriculums/#{curriculum.id}", method: :delete %></p>
  <hr/>
<% end %>
