<div class="prof-image text-center">
  <% if @user.image_url(:thumb).present? %>
    <%= image_tag @user.image_url(:thumb) %>
  <% else %>
    <%= image_tag 'yuuhi.png' %>
  <% end %>
</div>
<div class="progressbar-container col-md-6">
  <% @user.user_programmings.each do |programming| %>
    <% unless programming.level.nil? %>
      <%= link_to edit_user_user_programming_path(@user, id: programming.id), method: :get do %>
        <div class="progress">
          <div class="<%= programming.progressbar(programming.level) %>" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= programming.level %>%"><%= programming.name %>&nbsp;&nbsp;<%= programming.level %>%</div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="text-center modal-button">
  <%= link_to "/users/#{@user.id}/user_programmings/new", method: :get do %>
    <button type="button" class="btn btn-primary">言語 +</button>
  <% end %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    詳細
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">詳細情報</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="table-responsive">
              <div class="table-container">
                <table class="table text-center">
                  <thead class="thead-dark">
                    <th scope="col">項目</th>
                    <th scope="col">内容</th>
                  </thead>
                  <tbody class="thead-dark">
                  <tr>
                    <td scope="col">ID</td>
                    <td scope="row"><%= @user.id %></td>
                  </tr>
                  <tr>
                    <td>名前</td>
                    <td><%= @user.name %></td>
                  </tr>
                  <tr>
                    <td>年齢</td>
                    <td><%= @user.age %></td>
                  </tr>
                  <tr>
                    <td>メール</td>
                    <td><%= @user.mail %></td>
                  </tr>
                  <tr>
                    <td>住所</td>
                    <td><%= @user.address %></td>
                  </tr>
                  <tr>
                    <td>性別</td>
                    <td><%= @user.gender %></td>
                  </tr>
                  <tr>
                    <td>得意言語</td>
                    <td><%= @user.program %></td>
                  </tr>
                  <tr>
                    <td>興味がある言語</td>
                    <td><%= @user.skils.delete_if(&:empty?).join(",") %></td>
                  </tr>
                  </tbody>
                </table>
                <div class="text-center user-param-button">
                  <%= link_to '編集', "/users/#{@user.id}/edit", method: :get, :class=>"btn btn-primary" %></td>
                  <%= link_to '削除', "/users/#{@user.id}", method: :delete, :class=>"btn btn-secondary",
                    data: {
                      confirm: "本当に#{@user.name}を削除してよろしいですか？",
                    }
                  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>