<section id="edit-users-skill-form">
  <% breadcrumb :new_user %>
  <h3 class="text-center">追加したいスキルを選択</h3>
  <section id="user-form">
    <%= simple_form_for @users_skill ,:url => {:action => :update} do |f| %>
      <table class="table">
        <tbody>
        <tr>
          <td>スキル</td>
          <td>
            <%= f.input :name, as: :select, collection: [["Ruby", "Ruby"],["JavaScript", "JavaScript"],["Java", "Java"],["PHP", "PHP"],["Python", "Python"],["Sass", "Sass"],["Swift", "Swift"]], label_method: :second, value_method: :first, label: false %>
          </td>
        </tr>
        <tr>
          <td>到達度</td>
          <td>
            <%= f.input :level , collection: [[0, 0],[20, 20],[40, 40],[60, 60],[80, 80],[100, 100]], label: false %>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="btn-wrapper text-center">
        <%= f.button :submit, "確定", :class=>"btn btn-primary" %>
      </div>
    <% end %>
    <div class="btn-wrapper text-center">
      <%= button_to '削除', "/users/#{@users_skill.user_id}/user_programmings/#{@users_skill.id}" , :method => :delete, :class=>"btn btn-secondary", data: {confirm: "本当に#{@users_skill.name}を削除してよろしいですか？"} %>
    </div>
  </section>
</section>
