<h1>ユーザ一覧</h1>
<hr>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>年齢</th>
				<th>メール</th>
				<th>住所</th>
				<th>性別</th>
				<th>得意言語</th>
        <th>スキル</th>
        <th>画像</th>
        <th>編集</th>
        <th>削除</th>
			</tr>
		</thead>
		<tbody>
      <% @users.each.with_index(1) do |user, i| %>
        <tr>
          <th><%= i %></th>
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td><%= user.mail %></td>
          <td><%= user.address %></td>
          <td><%= user.gender %></td>
          <td><%= user.program %></td>
          <td><%= user.skils %></td>
          <td><%= image_tag user.image_url(:thumb) %></td>
          <td><%= link_to '編集', "/users/#{user.id}/edit", method: :get %></td>
          <td><%= link_to '削除', "/users/#{user.id}", method: :delete %></td>
        </tr>
      <% end %>
		</tbody>
	</table>
</div>
