<%= form_for @form do |f| %>
  <h3>編集</h3>
  <p>お名前：<%= f.text_field :food %></p>
  <p>年齢：<%= f.text_field :sports %></p>
  <p>お住まい：<%= f.text_field :book %></p>
  <p>性別：<%= f.text_field :gender %></p>
  <p>得意言語：<%= f.text_field :programming %></p>
  <hr/>
  <div class="btn-wrapper">
    <p><%= f.submit "送信", :class=>"btn" %></p>
  </div>
<% end %>
