<%= form_for @user do |f| %>
  <h3>編集</h3>
  <p>お名前：<%= f.text_field :name %></p>
  <p>年齢：<%= f.text_field :age %></p>
  <p>お住まい：<%= f.text_field :address %></p>
  <p>性別：<%= f.text_field :gender %></p>
  <p>得意言語：<%= f.text_field :program %></p>
  <p>スキル：<%= f.text_field :skils %></p>
  <hr/>
  <div class="btn-wrapper">
    <p><%= f.submit "送信", :class=>"btn" %></p>
  </div>
<% end %>
