<%= form_for @form, url: "/form/#{@form.id}" do |f| %>
  <div class="form">
    料理：<%= f.text_field :food %>
  </div>
  <div class="form">
    スポーツ：<%= f.text_field :sports %>
  </div>
  <div class="form">
    本：<%= f.text_field :book %>
  </div>
  <div class="form">
    性別：<%= f.text_field :gender %>
  </div>
  <div class="form">
    言語：<%= f.text_field :programming %>
  </div>
  <%= f.submit %>
<% end %>
