<% @form.each.with_index(1) do |data, i| %>
  <div class="form">
    No.<%= i %>
  </div>
  <div class="form">
    料理：<%= data.food %>
  </div>
  <div class="form">
    スポーツ<%= data.sports %>
  </div>
  <div class="form">
    本：<%= data.book %>
  </div>
  <div class="form">
    性別：<%= data.gender %>
  </div>
  <div class="form">
    言語：<%= data.programming %>
  </div>
  <%= link_to "編集", "/forms/#{data.id}/edit" %>
  <%= link_to "削除", "/forms/#{data.id}", method: :delete %>
  <hr>
<% end %>
