<div class="panel">
  <div class="panel_contents">
    <div class="attributes_table contract_info">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="row">
            <th><%= resource.name %></th>
            <td><%= resource.mail %></td>
            <td><%= resource.address %></td>
            <td><%= resource.gender %></td>
            <td><%= resource.program %></td>
            <td><%= resource.skils %></td>
            <td><%= resource.mail %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
